body{
	background: black;
	color: white;
}

main{
	background-color: #191919;
}

*{
	font-family: 'Lato', sans-serif;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 27px;
	text-transform: uppercase;
}

p{
	letter-spacing: 0.6px;
	font-size: 13px;
}

h4{
	font-weight: bold;
}

.section2 img {
    -webkit-animation: blink 0.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 0.5s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 0.5s;
    -o-animation-iteration-count: infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbar{
	margin-bottom: 0px;
}

.row{
	margin-left: 0;
    margin-right: 0;
}

.navbar-inverse{
	background: transparent;
}

.nav>li>a{
	padding: 10px 23px;
	font-weight: bold;
}

.nav>li>a:nth-last-child(2) {
    padding-left: 0px;
}

.nav>li>a:nth-last-child(10){
    padding-right: 0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: transparent;
	color: gold;
}

.nav>li>a:hover{
	color: gold !important;
}

header .login , header .register{
	background: transparent;
	border: 0.1px solid #f5ae25;
	padding: 3px 15px;
}

header .col-sm-6{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

header .topHeader ul{
	padding-left: 0px;
	float: right;
}

header .topHeader li{
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
}

header .mainHeader span{
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 6px;
}

header .mainHeader .navbar-collapse{
	padding: 0;
}

footer{
	background-image: url('../images/footer/footer.png');
	background-size: cover;
	padding-bottom: 30px;
	padding-top: 30px;
}

footer a{
	color: white;
	font-size: 14px;
}

footer a:hover{
	color: gold;
	text-decoration: none;
}

footer ul{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-top: 2%;
}

footer p{
	font-size: 13px;
	margin-top: 5%;
	margin-bottom: 5%;
	letter-spacing: 1px;
	color: #cccccc;
}

footer h3{
	padding-top: 2%;
	font-size: 20px;
}

footer .col-sm-3{
	padding-top: 2%;
	padding-bottom: 2%;
}

footer li{
	display: inline-block;
	margin-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

footer hr{
    border-top: 1px solid dimgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banners {
	background-size: cover;
	padding-top: 15%;
	padding-bottom: 5%;
}

.space{
	padding-bottom: 8%;
}

.playnow{
	background-color: #efae03;
	border-radius: 25px;
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: black;
	font-weight: bold;
	letter-spacing: 1px;
}

.textbottmline{
	border-top: 1px solid gray; 
	width: 100px; 
	margin-top: 20px; 
	margin-bottom: 30px;
}

.hrsection hr{
	border-top: 2px solid gold !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: transparent;
	border-bottom: 2px solid gold;
	border-radius: 1px;
}

.nav-pills>li{
	margin-right: 15px;
	margin-bottom: 8px;
}

.nav-pills>li>a{
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	text-align: center;
}

.nav-pills>li>a:hover{
	background-color: transparent;
	border-bottom: 2px solid gold;
	border-radius: 1px;
}

/*section2*/
.section2{
	padding-top: 10px;
}

/*section4*/
.section4{
	background-image: url('../images/home/bg.png');
	background-size: cover;
	padding-top: 4%;
	padding-bottom: 5%;
}

.section4 h4{
	margin-bottom: 15px;
	color: #cccccc;
}

.section4 p{
	margin-bottom: 15px;
	color: #cccccc;
}

main .col-sm-3{
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
}


main .lottery .col-sm-4{
	margin-top: 8%;
	margin-bottom: 2%;
}

main .lotterytable{
	background-color: #191919;
	padding: 30px;
	border-radius: 5px;
}

main .promotion .playnow{
	margin-top: 30px;
}

#experience{
	padding-right: 10px;	
	font-size: 65px;
}

.mobilenav{
	display: none;
}

.secondCarousel img{
	width: 80%;
}

.vipclub ul{
	padding-left: 20px;
}

.vipclub li{
	letter-spacing: 0.5px;
	line-height: 30px;
	font-size: 16px;
}

footer .active a{
	color: gold;
}

.login{
	padding-top: 5%;
	padding-bottom: 5%;
}

.login .col-sm-4{
	padding-left: 5px;
}

.login .col-sm-8{
	padding-right: 5px;
}

.login .col-sm-6{
	padding-right: 0px;
	padding-left: 25px;
}

.login h2{
	padding-left: 25px;
	font-size: 50px;
	font-family: 'Itca';
	letter-spacing: 0.8px;
}

.login .playnow{
	margin-top: 0px;
}

.login .col4{
	padding-right: 5%;
}

.login a{
	color: white;
	letter-spacing: 1px;
}

.login .col8{
	padding-left: 5%;
}

.login input[type="text"]{
	background-color: transparent;
	border-radius: 2px;
}
.login input[type="email"]{
	background-color: transparent;
	border-radius: 2px;
}
.login input[type="password"]{
	background-color: transparent;
	border-radius: 2px;
}

.contact{
	padding-top: 2%;
	padding-bottom: 5%;
}

.contact h1{
	margin-bottom: 20px;
}

.contact .box1{
	height: 500px;
	margin-right: 20%;
	width: 90%;
	background-color: rgba(166,124,0,0.3);
	border-radius: 15px;
}

.contact .box2{
	height: 500px;
	background-color: rgba(166,124,0,0.8);
	border-radius: 15px;
	margin-top: -430px;
	margin-left: 8%;
	padding-top:5%;
	padding-bottom: 5%;
	padding-left: 3%;
	padding-right: 10%;
}
	
.contact .box2 .col-sm-6{
	padding-left: 0px;
	padding-right: 25px;
	margin-bottom: 20px;
}

.contact input[type="text"]{
	background-color: transparent;
	border-radius: 1px;
	border:transparent;
	border-radius: 1px;
	padding-left: 5px;
	color: white;
	border-bottom: 1px solid white;
}
.contact input[type="email"]{
	background-color: transparent;
	border-radius: 1px;
	padding-left: 5px;
	color: white;
	border:transparent;
	border-bottom: 1px solid white;
}
.contact input[type="password"]{
	background-color: transparent;
	border-radius: 1px;
	padding-left: 5px;
	color: white;
	border:transparent;
	border-bottom: 1px solid white;
}
.contact .playnow{
	margin-top: 0px;
}

.contact h4{
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 1px;
}

::placeholder {
    color: white !important;
    letter-spacing: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	main .firstCarousel .carousel-inner .item img{
		height: 250px;
	}

	header .login, header .register{
		font-size: 11px;
	}

	header .topHeader li{
		margin-left: 2px;
	}

	footer .col-sm-3{
		width: 50%;
		float: left;
		padding-left: 10px !important;
	}

	footer ul li + li{
		padding-right: 10px;
	}

	footer ul li{
		padding-left: 15px;
		padding-right: 10px;
	}

	main .section3 .col-sm-3{
		width: 50%;
		float: left;
	}
	main .carousel-caption{
		right: 0;
		left: 0;
		top: 15%;
		text-align: left;
	}

	#experience{
		font-size: 35px;
	}
	h1{
		font-size: 25px;
	}

	h2{
		font-size: 20px;
	}

	.section3 p{
		text-align: justify;
	}

	.section4 p{
		text-align: justify;
	}

	h4{
		font-size: 16px;
	}

	footer{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	footer a{
		font-size: 11px;
	}

	footer h3{
		font-size: 18px;
		margin-top: 0px;
	}

	footer .footerlogo{
		width: 80%;
	}

	.desktopnav{
		display: none;
	}

	.mobilenav{
		display: block;
	}
	.mobilenav .navbar{
		padding-top: 5px;
	}

	.nav-pills>li{
		margin-right: 1px;
		margin-bottom: 30px;
	}
	.nav>li>a{
		padding: 8px 10px;
	}
	main .col-sm-3{
		width: 100%;
	}

	.mobilenav ul li a span{
		padding-left: 20px;
		text-transform: uppercase;
	}

	.mobilenav .nav>li>a>img{
		width: 25px;
	}

	.secondCarousel img{
		width: 70%;
	}

	.contact .box1{
		height: 580px;
	}
	.contact .box2{
		margin-top: -530px;
		height: 580px;
	}

	.contact .box2 .playnow{
		margin-left: 15px;
	}

	.contact .box2 .col-sm-6{
		width: 50%;
		float: left;
	}

	.contact .box2 .col-sm-8{
		padding-right: 0px;
		padding-left: 0px;
	}

	.contact .box2 .col-sm-8 h2{
		padding-left: 15px;
	}

	.contact h4{
		font-size: 15px;
	}

	.contact .box2 .col-sm-8 .col-sm-6{
		padding-left: 15px;
		padding-right: 15px;
	}

	.contact .box2{
		padding-left: 0px;
		padding-right: 0px;
	}

	.login .col-sm-6{
		padding-left: 0px;
	}

	.login .col8{
		padding-left: 0px;
	}

	.login .col4{
		padding-right: 0px;
	}

	.login .col-sm-4{
		padding-left: 15px;
	}

	.login .col-sm-8{
		padding-right: 15px;
		padding-left: 15px;
	}
	.login h2{
		padding-left: 0px;
	}

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	main .firstCarousel .carousel-inner .item img{
		height: 300px;
	}

	footer .col-sm-3{
		width: 20%;
	}
	
	footer ul li + li{
		padding-left: 46px;
	}
	footer .footerlogo{
		width: 40%;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	main .firstCarousel .carousel-inner .item img{
		height: 300px;
	}
	.navbar-nav {
	    float: none;
	    text-align: center;
	}
	.navbar-nav>li{
		float: none;
		display: inline-block;
		text-align: center;
	}
	footer ul li + li{
		padding-left: 5px;
	}

	main .carousel-caption{
		right: 0;
		left: 0;
		top: 15%;
		text-align: left;
	}

	.col1{
		width: 35%;
	}

	.col2{
		width: 65%;
	}

	footer .footerlogo{
		width: 40%;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	main .firstCarousel .carousel-inner .item img{
		height: 300px;
	}
	footer ul li + li{
		padding-left: 28px;
	}

	main .carousel-caption{
		right: 0;
		left: 0;
		top: 15%;
		text-align: left;
	}
	footer .footerlogo{
		width: 40%;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	main .firstCarousel .carousel-inner .item img{
		height: 500px;
	}
	.navbar-nav {
	    float: left;
	}
	.navbar-nav>li{
		float: left;
	}
	footer .col-sm-3{
		width: 20%;
		padding-left: 25px;
		padding-right: 25px;
	}

	footer .col-sm-3 img{
		width: 90%;
	}

	main .carousel-caption{
		right: 0;
		left: 0;
		top: 15%;
		text-align: left;
	}

	footer ul li + li{
		padding-left: 46px;
	}

	footer .footerlogo{
		width: 40%;
	}


}